<script>
 window.gameName = "<%= @game %>";
 window.playerName = "<%= @user %>";
</script>

<div class="row">
  <div class="column">
    <h1>Memory Game: <%= @game %></h1>
    <div id="root">
      <p>React app not loaded...</p>
    </div>
  </div>
</div>