<div>
  <div class="row">
    <div class="col">
      <h1>Join a Game</h1>
      <%= form_for @conn, "/join", [as: :join], fn f -> %>
        <p>User Name: <%= text_input f, :user %></p>
        <p>Game Name: <%= text_input f, :game %></p>
        <p><%= submit "Join" %></p>
      <% end %>
    </div>
  </div>
</div>
